sudo: false
language: python
python:
  - "2.7"
  - "3.5"
  - "3.7"
install:
  - pip install -r requirements-development.txt
  - pip install codeclimate-test-reporter
script:
  - coverage erase && nosetests -dsv --with-yanc --with-coverage --cover-package mercadobitcoin
