interactions:
- request:
    body: tapi_method=list_system_messages&level=INFO&tapi_nonce=1479058491
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      TAPI-ID: "42"
      TAPI-MAC: [42]
    method: POST
    uri: https://www.mercadobitcoin.net/tapi/v3/
  response:
    body: {string: '{"response_data": {"messages": []}, "status_code": 100, "server_unix_timestamp":
        "1479058491"}'}
    headers:
      Content-Type: [application/json]
      X-CDN: [Incapsula]
      X-Iinfo: [10-46954797-46954853 NNNN CT(89 184 0) RT(1479058490903 303) q(0 0
          2 0) r(4 4) U6]
    status: {code: 200, message: OK}
version: 1
