interactions:
- request:
    body: order_id=42&tapi_nonce=1479058941&tapi_method=get_order&coin_pair=BRLBTC
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      TAPI-ID: "42"
      TAPI-MAC: [42]
    method: POST
    uri: https://www.mercadobitcoin.net/tapi/v3/
  response:
    body: {string: '{"response_data": {"order": {"order_id": 42, "coin_pair":
        "BRLBTC", "order_type": 2, "status": 2, "has_fills": false, "quantity": "1000",
        "limit_price": "2000.00000", "executed_quantity": "0.00000000", "executed_price_avg":
        "0.00000", "fee": "0.00000000", "created_timestamp": "1479054430", "updated_timestamp":
        "1479054430", "operations": []}}, "status_code": 100, "server_unix_timestamp":
        "1479058941"}'}
    headers:
      Content-Type: [application/json]
      X-CDN: [Incapsula]
      X-Iinfo: [8-31929210-31929237 NNNN CT(88 90 0) RT(1479058940542 310) q(0 0 2
          -1) r(3 3) U6]
    status: {code: 200, message: OK}
version: 1
