interactions:
- request:
    body: tapi_method=list_orders&tapi_nonce=1479059117&coin_pair=BRLBTC
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      TAPI-ID: 42
      TAPI-MAC: [42]
    method: POST
    uri: https://www.mercadobitcoin.net/tapi/v3/
  response:
    body: {string: '{"response_data": {"orders": [{"order_id": 1, "coin_pair":
        "BRLBTC", "order_type": 2, "status": 2, "has_fills": false, "quantity": "1.00000000",
        "limit_price": "5000.00000", "executed_quantity": "0.00000000", "executed_price_avg":
        "0.00000", "fee": "0.00000000", "created_timestamp": "1479052430", "updated_timestamp":
        "1479052430", "operations": []}, {"order_id": 2, "coin_pair": "BRLBTC",
        "order_type": 1, "status": 4, "has_fills": true, "quantity": "1.00000000",
        "limit_price": "5000.00000", "executed_quantity": "1.00000000", "executed_price_avg":
        "5000.00000", "fee": "0.0666", "created_timestamp": "1385380619", "updated_timestamp":
        "1385380619", "operations": [{"operation_id": 1, "quantity": "1.00000000",
        "price": "5000.00000", "fee_rate": "0.666", "executed_timestamp": "1385380619"}]}]},
        "status_code": 100, "server_unix_timestamp": "1479039118"}'}
    headers:
      Content-Type: [application/json]
      X-CDN: [Incapsula]
      X-Iinfo: [9-38838885-38838997 NNNN CT(92 92 0) RT(1479059116871 642) q(0 0 1
          -1) r(3 3) U6]
    status: {code: 200, message: OK}
version: 1
