interactions:
- request:
    body: tapi_method=get_account_info&tapi_nonce=1479058647
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      TAPI-ID: "42"
      TAPI-MAC: [42]
    method: POST
    uri: https://www.mercadobitcoin.net/tapi/v3/
  response:
    body: {string: '{"response_data": {"balance": {"brl": {"available": "42.00000000",
        "total": "42.00000000"}, "btc": {"available": "42.00000000", "total": "42.00000000",
        "amount_open_orders": 1}, "ltc": {"available": "0.00000000", "total": "0.00000000",
        "amount_open_orders": 0}}, "withdrawal_limits": {"brl": {"available": "20000.00",
        "total": "20000.00"}, "btc": {"available": "42.00000000", "total": "42.00000000"},
        "ltc": {"available": "500.00000000", "total": "500.00000000"}}}, "status_code":
        100, "server_unix_timestamp": "1479058647"}'}
    headers:
      Content-Type: [application/json]
      X-CDN: [Incapsula]
      X-Iinfo: [10-46981234-46981335 NNNN CT(89 89 0) RT(1479058646678 622) q(0 0
          1 -1) r(3 3) U6]
    status: {code: 200, message: OK}
version: 1
