interactions:
- request:
    body: quantity=42.00&coin_pair=BRLBTC&tapi_method=place_buy_order&limit_price=5000&tapi_nonce=1479031421
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      TAPI-ID: "42"
      TAPI-MAC: [42]
    method: POST
    uri: https://www.mercadobitcoin.net/tapi/v3/
  response:
    body: {string: '{"response_data": {"order": {"order_id": 1, "coin_pair":
        "BRLBTC", "order_type": 1, "status": 2, "has_fills": false, "quantity": "42.0000000",
        "limit_price": "5000.00000", "executed_quantity": "0.00000000", "executed_price_avg":
        "0.00000", "fee": "0.00000000", "created_timestamp": "1479031422", "updated_timestamp":
        "1479031422", "operations": []}}, "status_code": 100, "server_unix_timestamp":
        "1479031422"}'}
    headers:
      Content-Type: [application/json]
      X-CDN: [Incapsula]
      X-Iinfo: [4-10986866-10986886 NNNN CT(94 191 0) RT(1479061421184 404) q(0 0
          3 -1) r(10 10) U6]
    status: {code: 200, message: OK}
version: 1
