interactions:
- request:
    body: tapi_nonce=1479039796&tapi_method=list_orderbook&coin_pair=BRLBTC
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      TAPI-ID: "42"
      TAPI-MAC: [42]
    method: POST
    uri: https://www.mercadobitcoin.net/tapi/v3/
  response:
    body: {string: '{"response_data": {"orderbook": {"bids": [{"order_id": 1,
        "quantity": "1.00000000", "limit_price": "5000.00000", "is_owner": false},
        {"order_id": 2, "quantity": "0.50000000", "limit_price": "5000.00000",
        "is_owner": false}], "asks": [{"order_id": 3, "quantity": "1.50000000",
        "limit_price": "5000.00000", "is_owner": false}, {"order_id": 20275623,
        "quantity": "5.19527422", "limit_price": "2467.00000", "is_owner": false},
        {"order_id": 4, "quantity": "1.50000000", "limit_price": "5000.00000",
        "is_owner": false}], "latest_order_id": 42}}, "status_code": 100,
        "server_unix_timestamp": "1479039808"}'}
    headers:
      Content-Type: [application/json]
      X-CDN: [Incapsula]
      X-Iinfo: [10-47181296-47181593 NNNN CT(105 215 0) RT(1479059797010 1345) q(0
          0 3 0) r(95 95) U6]
    status: {code: 200, message: OK}
version: 1
