interactions:
- request:
    body: tapi_nonce=1479031083&coin_pair=BRLBTC&quantity=42.000&limit_price=5000&tapi_method=place_sell_order
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      TAPI-ID: "42"
      TAPI-MAC: [42]
    method: POST
    uri: https://www.mercadobitcoin.net/tapi/v3/
  response:
    body: {string: '{"response_data": {"order": {"order_id": 1, "coin_pair":
        "BRLBTC", "order_type": 2, "status": 4, "has_fills": true, "quantity": "42.00000000",
        "limit_price": "5000.000", "executed_quantity": "42.00000000", "executed_price_avg":
        "2460.00000", "fee": "0.42", "created_timestamp": "1479031085", "updated_timestamp":
        "1479031085", "operations": [{"operation_id": 1, "quantity": "42.00000000",
        "price": "2460.00000", "fee_rate": "0.42", "executed_timestamp": "1479031085"}]}},
        "status_code": 100, "server_unix_timestamp": "1479031086"}'}
    headers:
      Content-Type: [application/json]
      X-CDN: [Incapsula]
      X-Iinfo: [9-39123252-39123347 NNNN CT(87 90 0) RT(1479061084428 695) q(0 0 1
          -1) r(13 13) U6]
    status: {code: 200, message: OK}
version: 1
