interactions:
- request:
    body: order_id=1&tapi_nonce=1479031662&tapi_method=cancel_order&coin_pair=BRLBTC
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      TAPI-ID: "42"
      TAPI-MAC: [42]
    method: POST
    uri: https://www.mercadobitcoin.net/tapi/v3/
  response:
    body: {string: '{"response_data": {"order": {"order_id": 1, "coin_pair":
        "BRLBTC", "order_type": 1, "status": 3, "has_fills": false, "quantity": "42.0000000",
        "limit_price": "5000.00000", "executed_quantity": "0.00000000", "executed_price_avg":
        "0.00000", "fee": "0.00000000", "created_timestamp": "1479031422", "updated_timestamp":
        "1479031663", "operations": []}}, "status_code": 100, "server_unix_timestamp":
        "1479031663"}'}
    headers:
      Content-Type: [application/json]
      X-CDN: [Incapsula]
      X-Iinfo: [10-47504237-47504323 NNNN CT(92 94 0) RT(1479061662512 783) q(0 0
          2 -1) r(4 4) U6]
    status: {code: 200, message: OK}
version: 1
