interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mercadobitcoin.net/api/btc/trades/
  response:
    body:
      string: '[{"tid":8228566,"date":1611939922,"type":"buy","price":190689.48419,"amount":0.00061917},{"tid":8228567,"date":1611939928,"type":"sell","price":190100.1,"amount":0.00076997},{"tid":8228568,"date":1611939929,"type":"sell","price":190100.1,"amount":0.00073003},{"tid":8228569,"date":1611939929,"type":"sell","price":190000.00147,"amount":0.397365},{"tid":8228570,"date":1611939929,"type":"sell","price":190000.00025,"amount":0.04706102},{"tid":8228571,"date":1611939929,"type":"sell","price":190000,"amount":0.05525368},{"tid":8228572,"date":1611939929,"type":"sell","price":1900[...]
