interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mercadobitcoin.net/api/BCH/trades/?tid=1616116
  response:
    body:
      string: '[{"tid":1616117,"date":1612605297,"type":"buy","price":2640,"amount":1.74948002},{"tid":1616118,"date":1612605297,"type":"buy","price":2640,"amount":0.0208},{"tid":1616119,"date":1612605297,"type":"buy","price":2640,"amount":0.17814801},{"tid":1616120,"date":1612605311,"type":"sell","price":2631.66035,"amount":0.34999},{"tid":1616121,"date":1612605311,"type":"sell","price":2631.66033,"amount":0.45434001},{"tid":1616122,"date":1612605319,"type":"buy","price":2639.99999,"amount":0.03678049},{"tid":1616123,"date":1612605327,"type":"buy","price":2639.99999,"amount":0.00584848}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
