interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mercadobitcoin.net/api/ETH/trades/
  response:
    body:
      string: '[{"tid":1382215,"date":1612203367,"type":"buy","price":7279.42949,"amount":0.0686867},{"tid":1382216,"date":1612203386,"type":"sell","price":7256.12836,"amount":0.00131628},{"tid":1382217,"date":1612203410,"type":"sell","price":7256.13193,"amount":0.001401},{"tid":1382218,"date":1612203412,"type":"sell","price":7256.13219,"amount":0.14671867},{"tid":1382219,"date":1612203428,"type":"sell","price":7256.19379,"amount":0.05001942}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
