interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mercadobitcoin.net/api/ltc/trades/
  response:
    body:
      string: '[{"tid":2503414,"date":1611929044,"type":"buy","price":760,"amount":0.67749295},{"tid":2503415,"date":1611929087,"type":"buy","price":760,"amount":0.31578947},{"tid":2503416,"date":1611929094,"type":"sell","price":759.99991,"amount":0.01},{"tid":2503417,"date":1611929095,"type":"buy","price":760,"amount":0.30750709},{"tid":2503418,"date":1611929095,"type":"buy","price":760,"amount":0.01311009},{"tid":2503419,"date":1611929095,"type":"buy","price":760,"amount":0.9973},{"tid":2503420,"date":1611929095,"type":"buy","price":760,"amount":0.16683062},{"tid":2503421,"d[...]
