interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mercadobitcoin.net/api/LTC/trades/
  response:
    body:
      string: '[{"tid":2513245,"date":1612191468,"type":"sell","price":716.77001,"amount":1.15695531},{"tid":2513246,"date":1612191487,"type":"sell","price":716.77001,"amount":0.13791801},{"tid":2513247,"date":1612191487,"type":"sell","price":716.77,"amount":1.45656201},{"tid":2513248,"date":1612191507,"type":"buy","price":718.97805,"amount":0.22251026},{"tid":2513249,"date":1612191519,"type":"sell","price":716.77002,"amount":0.22315104}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
