interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mercadobitcoin.net/api/BTC/trades/
  response:
    body:
      string: '[{"tid":8266330,"date":1612209343,"type":"sell","price":185547.33488,"amount":0.00025847},{"tid":8266331,"date":1612209344,"type":"buy","price":186187.98516,"amount":0.00026854},{"tid":8266332,"date":1612209344,"type":"buy","price":186187.98516,"amount":0.00059144},{"tid":8266333,"date":1612209386,"type":"buy","price":186187.97769,"amount":0.00054563},{"tid":8266334,"date":1612209406,"type":"buy","price":186187.97615,"amount":0.00537091}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
