interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.mercadobitcoin.net/api/LINK/trades/1612545400/1612545424/
  response:
    body:
      string: '[{"tid":209377,"date":1612545400,"type":"sell","price":140.30108,"amount":1.05023732},{"tid":209378,"date":1612545419,"type":"buy","price":140.90681,"amount":4.9871878},{"tid":209379,"date":1612545419,"type":"sell","price":140.907,"amount":10.84985365},{"tid":209380,"date":1612545424,"type":"buy","price":140.9066,"amount":0.49678297}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
